<div class="jumbotron">
<h1>NAUKA RUBY</h1>
<p>BEKA HEHE</p>
<%= link_to 'Strona Główna', root_path, class: 'btn btn-primary btn-lg' %>
<%= link_to 'O mnie', home_about_path, class: 'btn btn-default btn-sm' %>
</div>
