<p>Witaj, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Informujemy, że Twój email jest zmieniany na <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Informujemy, że Twój email został zmieniony na <%= @resource.email %>.</p>
<% end %>
